* { 
    box-sizing: border-box;
}    

body {
    font-family: roboto;
}

header {
    background-color: #EAC926;
    padding: 20px;
    width: 100vw;
    margin: auto;
}
.contenedor-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    max-width: 1200px;
    text-align: center;
    margin:auto
}
.logo {
    width: 50%;
}
.buscador {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;
}
.buscador-input {
    border: solid 1px var(--light-gray);
    display: block;
    width: 100%;
    padding: 7px 35px 7px 7px;
    border-radius: 5px;
    height: 40px;
    font-size: 1em;
}
.buscador-boton {
    position: absolute;
    right: 2px;
    height: 60%;
    background-color: #ffffff;
    border: none;
    border-left: solid 1px var(--light-gray);
    color: var(--gray);
    cursor: pointer;
}
.listas{
    display: none;
}
.listas ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.listas a {
    text-decoration: none;
    color: #222222;
    padding: 5px 0;
    font-size: 14px;
}
.banner {
    width: 100vw;
    text-align: center;
    margin: auto;
}
.burger-menu{
    display: block;
    background-color: #1259c3;
    color: #ffffff;
    max-width: 40px;
    max-height: 40px;
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

main{
    background-color: #ebebeb;
}
.contenedor-main{
    max-width: 1200px;
    width: 100vw;
    padding: 15px;
    margin: auto;
    margin-top: -4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sub-main{
    display: block;
    background-color: white;
    width: 100%;
    border: solid 1px #ebebeb;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 10px;
    transition: all 450ms;
}
.sub-main-descripcion{
    position: relative;
    padding: 0 15px 0 15px;
}
.productos{
    width: 100%;
    border-bottom: solid 1px #ebebeb;
    margin: auto;
    border-radius: 10px;
    transition: all 450ms;
}
.cuerpos-de-texto {
    font-size: 12px;
    color: #666;
    text-align: center;
}
.titulares {
    font-size: 24px;
    width: 95%;
    color: #666;
}
.precios{
    font-size: 18px;
    margin-bottom: 15px;
}
.descuentos {
    font-size: 18px;
    color: #39b54a;
    font-style: normal;
    margin-left: 10%;
}
.descripciones{
    display: none;
    font-size: 16px;
    margin-bottom: 15px;
    color: #666;
    transition: all 450ms;
}
.destacado {
    font-family: roboto;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    width: 100%;
}
.fa-truck{
    display: block;
    font-size: 16px;
    color: #39b54a;
    border: solid 1px #39b54a;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    position: absolute;
    right: 20px;
    top: -53px;
    transition: all 450ms;
}

footer {
    background-color: white;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.secciones-footer{
    text-align: center;
    padding: 0 10px;
}
.secciones-footer h4{
    margin-top: 0px ;
    margin-bottom: -10px;
}
.fa-credit-card{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    transition: all 450ms;
}
.fa-gift{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    transition: all 450ms;
}
.fa-user-shield{
    color: #1259c3;
    font-size: 2em;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    transition: all 450ms;
}
.copyright{
    display: flex;
    align-items: flex-end;
    text-align: left; 
}

.formulario {
    padding: 20px 15px;
    background-color: lightgray;
    text-align: center;
}
.control-formulario {
    margin-bottom: 45px;
    text-align: left; 
    margin-left: 10%;
}
.control-formulario h3 {
    margin: -22.5px 0 22.5px;
    display: block;
    text-align: left;
}
.control{
    width: 88.5%;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px var(--light-gray);
}
.radio{
    margin-left: 25px;
}
.radio input{
    margin-right: 25px;
}
.check{
    margin-left: 25px
}
.check input{
    margin: 0 25px 40px 0;
}
.boton-formulario:hover{
    background-color: #0022AA;
}
.boton-formulario{
    width: 80%;
    background-color: #1259c3;
    border: none;
    font-size: 20px;
    color:#ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 450ms;
}

@media(min-width: 361px){
    .burger-menu {
        display: none;
    }
    .contenedor-header{
        display: flex;
        justify-content: space-between;
    }
    .logo{
        width: 40%;
    }
    .destacado {
        text-align: right;
        width: 30%;
        font-size: 11px;
    }
    .buscador {
        display: flex;
        align-items: center;
        width: 30%;
    }
    .buscador-input {
        font-size: 1em;
    }
    .listas{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    .listas ul {
        display: flex;
    }
    .listas li {
        margin: 0 5px;
        font-size: 11px;
    }
    .listas a {
        font-size: 11px;
    }
    .sub-main {
        width: 45%;
    }
    .sub-main:hover{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .sub-main:hover .descripciones{
        display: block;
    }
    .sub-main:hover .fa-truck:hover{
        transform: rotate(-90deg);
    }
}

@media(min-width: 769px){
    .logo {
        width: 250px;
    }
    .contendor-header, .listas {
        max-width: 1200px;
        margin: auto
    }
    .contendor-header{
        align-items: center;
    }
    .sub-main {
        width: 20%;
    }
    .destacado {
        font-size: 18px;
    }
    .listas {
        margin-top: 30px;
    }
    .listas li {
        margin: 0 10px;
        font-size: 19px;
    }
    .listas a {
        font-size: 19px;
    }
    .contenedor-footer {
        display: flex;
    }
    .fa-credit-card:hover, .fa-gift:hover, .fa-user-shield:hover{
        color:#d7da3c;
    }
}